/*-------------------------------------
* PopUp-Produkteingabe ohne Barcode
---------------------------------------*/
.modal{
    margin-top:15vh;
}
.modal-content{
    width: 60vw;
    height: 60vh;
    margin-left: -10vw;
}
.modal-title{
    font-size: 300%;
    text-align: center;
}
.modal-body{
    height: 30vh;
    float: left;
    width: 100%;
    display: block;
}

/*PopUp-body*/
.inputtext{
    font-size: 250%;
    width: 25%;
    color:dimgray;
    position:static;
    margin-left:6%;
    float: left;
}

.inputs{
    font-size: 250%;
    width: 50%;
    color: dimgray;
    border-style: solid;
    border-color: grey;
    border-width: 3px;
}

.inputfields{
    margin-top: 3vh;
    margin-left:10vw;
    color: white;
}

/*PopUp-footer*/
.modal-footer{
    height: 10vh;
    width: 60vw;
    bottom: 0px;
    position: fixed;

}
.footer-buttongroup{
    display: inline;
    margin-right: 5vw;
}

.footer-buttongroup .button{
    margin-left: 1vw;
    font-size: 180%;
    background-color: #f9f9f9;
    border-style: solid;
    border-color: grey;
    border-width: 3px;

}
.button:hover{
    background-color:aliceblue;
}
.button:active{
    background-color:aliceblue;
}