/*---------------------------
     Style-RECIPE-List
-----------------------------*/
body{
    height: 100vh;
    width: 100vw;
    background: url("../images/recipePage.jpg") no-repeat;
    background-size: 100vw 100vh;
}

.brand-logo{
    margin: 0 0 10px;
}