
/*---------------------------
*    Style-PURCHASELIST
-----------------------------*/
body{
    width: 100vw;
    position: fixed;
    background-image: url("../images/einkauf.jpg");
    background-size: 100vw 100vh;
}
#container {
    height:100vh;
}
/*Header*/
#header{
    height:15vh;
}


/*Table*/
/*
#tableSide{
    width: 70vw;
    margin-left: 25vw;
    margin-top: -4vh;
}
#body h1{
    width: 90%;
    color: dimgrey;
    background-color: white;
    font-size: 300%;
    font-weight: bold;
    font-family: Arial;
    border-style: solid;
    border-color: white;
    border-bottom-color: white;
    border-bottom-width: 2px;
}
#body table{
    border-style: none;
    border-color: transparent;
    border-width: 3px;
    width: 54vw;
    margin-left: 7%;
}
#body tr{
    font-size: 250%;
    text-align: center;
    color: black;
    height: 8vh;
    width:100%;
}
#body th{
    width: 22vw;
    text-align: center;
    color: dimgray;
    background-color: #f9f9f9;
}
#body #editButton{
    width: 10vw;
    background: transparent;
    border-right-color: transparent;
    border-bottom-color:  transparent;
    border-top-color: transparent;
}
#body #data td{
    width: 22vw;
    background-color:rgba(255, 255, 255, 0.6);
}
#body #data #cellBtnEdit{
    width: 10vw;
    background: transparent;
    border-right-color: transparent;
    border-bottom-color:  transparent;
    border-top-color: transparent;
}
#body #data #cellBtnEdit .glyphicon{
    font-size: 150%;
    background: transparent;
    border-color: transparent;
    color: #f6f6f6;
}
*/

/*MakeItScrollable*/
/*
#body table.scroll {
    /!* width: 100%; *!/ /!* Optional *!/
    /!* border-collapse: collapse; *!/
    border-spacing: 0;
}

#body table.scroll tbody,
#body table.scroll thead { display: block; }

#body table.scroll tbody {
    height: 56vh;
    overflow-y: auto;
    overflow-x: hidden;
}
*/



