
/*---------------------------
*    Style-PURCHASELIST
-----------------------------*/
body{
    width: 100vw;
    position: fixed;
    background-image: url("../images/einkauf.jpg");
    background-size: 100vw 100vh;
}

.brand-logo{
    margin: 0 0 10px;
}

#container {
    height:100vh;
}
/*Header*/
#header{
    height:15vh;
}

#entryList{
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 5vw 0 5vw;
    height: 75vh;
    opacity: 0.9;
    border-color: transparent;
}