/*--------------------
     Style-STORAGE
----------------------*/
body{
    /*height: 100vh;*/
    width: 100vw;
    position: fixed;
    background: url("../images/vorrat.jpg") no-repeat fixed;
    background-size: 100vw 100vh;
}

.brand-logo{
    margin: 0 0 10px;
}

.picker__frame{
    margin-top: -5%;
}

#container {
    height:100vh;
}
/*Header*/
#header{
    height:15vh;
}

#productList{
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 5vw 0 5vw;
    height: 75vh;
    opacity: 0.9;
    border-color: transparent;
}

#deleteConfirm{
    width: 21%;
    text-align: center;
    line-height: 64px;
}

#deleteConfirm .modal-footer a{
    margin: 5px;
    width: 185px;
}

/*Nav-Bar*/
.nav-wrapper .button-collapse .material-icons{
    margin-left:10px;
    text-decoration: none;
    cursor: pointer;
}

.side-nav{
    width:18vw;
    background-color: rgba(233, 255, 220, 0.88);
}

.side-nav li .material-icons{
    color: black;
    float:left;
    margin: 0 5px 0 15px;
}

.side-nav li a{
    font-size: 25px;
}